<md-dialog aria-label="Select Tenant" style="width: 100%; min-width: 90%;">
    <form>
        <md-toolbar>
            <div style="background-color: green; color: #fff;" class="md-toolbar-tools">
                <h2>Please select to continue</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">

            <md-radio-group ng-model="selectMethod" aria-labelledby="Option">
                <md-radio-button ng-value="'Merged'" class="md-primary">Add links as new rows</md-radio-button>
                <md-radio-button ng-value="'Replace'" class="md-primary">Replace previous links</md-radio-button>
            
            </md-radio-group>
          

            


            <div class="md-block" style="padding: 5px; text-align: center;">
                <md-button ng-click="SelectMet()" ng-disabled="!selectMethod" style="margin: auto; width: 100%; background-color: green; color: #fff;">Continue</md-button>
            </div>

        </md-dialog-content>

    </form>
</md-dialog>