<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Excel Add-In with Commands Sample</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <!--Angular Material requires Angular.js Libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!--<script src="components/angular-ui-tree.min.js"></script>-->
    <!--Angular Material Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <!--jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.css">
    <script src="Scripts/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="Scripts/MessageBanner.js" type="text/javascript"></script>

    <link href="Home.css" rel="stylesheet" type="text/css" />

    <link href="../Content/MessageBanner.css" rel="stylesheet" type="text/css" />

    <!-- For Office UI Fabric Core, go to https://aka.ms/office-ui-fabric to learn more. -->
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.0/css/fabric.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>


    <style>
        #searchInput {
            display: block;
            margin: 4px auto;
            width: 99%;
            height: 28px;
            border: 1px groove green;
        }

            #searchInput:focus {
                outline: none;
            }


        .loader {
            width: 85%;
            background-color: #008000;
            display: none;
            margin-top: 3px;
            animation: rotation 1s linear infinite;
            height: auto;
            position: initial;
            border: none;
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .customAnchor {
            color: green;
            text-decoration: none;
        }

    </style>


</head>
<body ng-app="myApp" ng-controller="myCtrl" class="ms-Fabric" dir="ltr">

    <!-- //////////////////////// Loader //////////////////////// -->


    <div id="StartProgressLinear" style="z-index: 100 !important;position:fixed;display:none; margin:250px 7% 0 7%; width: 85%;">
        <md-progress-linear md-mode="Indeterminate" ng-disabled="showProgressLinear"></md-progress-linear>
        <div style="margin: 7px auto 0 auto;"><span>{{progressText}}</span></div>
    </div>

    <div id="ProgressBgDiv" style=" position: fixed; top: 0; left: 0; background-color: #ffffff; opacity: 0.8; display: none; width: 100%; height: 100%; z-index: 99 !important;"></div>

    <!-- //////////////////////// Navbar  //////////////////////// -->

    <div ng-hide="NavBarDiv">



        <md-toolbar style="min-height: 30px;height: 40px;background-color:green;" class="md-tall">
            <div class="md-toolbar-tools">
                <h3 style="font-size:18px;" aria-label="Campaign Trackly" flex md-truncate>
                    Campaign Trackly
                </h3>



                <md-button class="md-icon-button" ng-click="chatGpt()" style="margin-right:-5px;" aria-label="chat">
                    <md-tooltip md-direction="bottom">{{tooltipText}}</md-tooltip>
                    <img id="loaderGpt" class="loader" src="Images/openai-icon.svg" />
                    <img ng-hide="gptBtn" src="Images/openai-icon.svg" style="width: 85%; margin-top: 3px;" />
                </md-button>

                <md-button class="md-icon-button" ng-click="SetAsManual()" style="margin-right:-5px;" aria-label="chat">
                    <md-tooltip md-direction="bottom">Manually Enter Tags</md-tooltip>
                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;" class="material-icons">wysiwyg</md-icon>
                </md-button>


                <md-menu style="margin-right: 0px;">
                    <md-icon class="favorite-icon" style="font-size: 22px; cursor: pointer; color: white;margin-left:10px;" ng-click="$mdMenu.open()">menu_open</md-icon>
                    <md-menu-content class="md-dense">

                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="RefreshApp()">
                                <div layout="row" flex>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0; font-size: 22px" class="material-icons">refresh</md-icon>
                                    <span style="margin-left:5px;" md-menu-align-target>Refresh</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="ContactSupport()">
                                <div layout="row" flex>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;font-size:22px;" class="material-icons">help_center</md-icon>
                                    <span style="margin-left:5px;" md-menu-align-target>Support</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="logOut()">
                                <div layout="row" flex>
                                    <md-icon md-menu-align-target style="margin: auto 3px auto 0;font-size:22px;" class="material-icons">logout</md-icon>
                                    <span style="margin-left:5px;" md-menu-align-target>Logout</span>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </div>



    <div class="md-padding">
        <!-- //////////////////////// Login Page //////////////////////// -->


        <div ng-hide="LoginDiv">

            <div style="margin-top:10px;">
                <img style="display:block;margin:auto;border-radius:50%;" src="Images/Button80x80.png" aria-label="Logo Campaign Trackly" />
            </div>

            <div style="margin-top:30px;">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input type="text" ng-model="UserName">
                </md-input-container>

                <md-input-container class="md-block" style="margin-top: -22px;">
                    <label>Password</label>
                    <input type="password" ng-model="UserPassword">
                </md-input-container>

            </div>
            <div style="text-align: right; margin-top: -30px;">
                <a href="https://app.campaigntrackly.com/reset-password/" target="_blank" class="customAnchor">Forgot password?</a>
            </div>
            <div style="text-align:center;padding:5px;">
                <md-button type="md-button" ng-click="SignIn()" ng-disabled="!UserName || !UserPassword" style="background-color:green;color:#fff;width:50%;">Login</md-button>

            </div>

            <div style="position: fixed; bottom: 10px; width: 100%;">
                <p style="text-align:center;">No account? <a class="customAnchor" target="_blank" href="https://www.campaigntrackly.com">Register here</a></p>
            </div>

           

        </div>

        <!-- //////////////////////// Started Page only one time //////////////////////// -->


        <div ng-hide="StartedScreen">
            <img src="Images/CamaignTRacklyBW230x70Logo.png" style="display:block;margin:auto;" />
            <div style="text-align:center;margin-top:5px;margin-bottom:15px;">
                <h2>BUILD YOUR UTM TRACKING LINKS EASIER AND FASTER THAN EVER</h2>
            </div>
            <div style="height:3px;background-color:green;width:50%;display:block;margin:auto;">
            </div>
            <div style="margin-top:10px;">
                <ul>
                    <li>We build your UTM tracking links, short links, and spreadsheets</li>
                    <li>We automate your Excel, social and email tagging to save you time</li>
                </ul>
                <div style="text-align:center;margin-top:-5px;margin-bottom:5px;">
                    <a href="https://www.campaigntrackly.com/knowledge-base/" target="_blank">Knowledge Base</a>
                </div>
            </div>
            <div style="text-align:center;margin-top:5px;">
                <md-button ng-click="StartAddin()" style="background-color: #2E7D32;color:#fff;width:50%;">Start</md-button>
            </div>
        </div>




        <!-- //////////////////////// Main Page //////////////////////// -->
        <div ng-hide="MainPageDiv">


            <div style="margin-top:82px;">

                <md-input-container class="md-block" ng-click="SelectMenuTouch()">
                    <label>Select Tag Template</label>
                    <md-select ng-model="SelectedOption" md-on-close="clearSearchTerm()" md-container-class="selectdemoSelectHeader" md-on-open="scrollToFirstItem()" id="selectMenu"  ng-change="onSelectChange()">
                        <md-select-header class="demo-select-header">
                            <div id="targetDiv" style="padding:0 3px 0 3px;">
                                <input ng-model="searchTerm" aria-label="Tag filter" type="search" placeholder="Search Tag Template" id="searchInput" class="demo-header-searchbox md-text">
                            </div>
                        </md-select-header>
                        <md-optgroup label="vegetables">
                            <md-option ng-value="Template" ng-repeat="Template in Tag_TemplatesArr | filter:searchTerm">
                                {{Template.name}}
                            </md-option>
                        </md-optgroup>
                    </md-select>

                </md-input-container>
            </div>

            <div style="padding:30px;text-align:center;margin-top:-10px;">
                <md-button ng-click="ApplyTemplate()" ng-disabled="!SelectedOption || SelectedOption === 'Dummy'" style="background-color:#2E7D32;color:#ffffff;width:95%;">Apply Template</md-button>
                <!--<md-button ng-click="UsedRange()" style="background-color:#2E7D32;color:#ffffff;width:95%;">Used Range</md-button>-->
            </div>

            <!-- <md-button ng-click="OpenDialog()">Open Dialog</md-button>-->
            <md-icon-button></md-icon-button>

            <!--<md-button class="md-fab md-primary" ng-click="downloadImage('https://api.qrserver.com/v1/create-qr-code/?data=https://ctrly.io/JwPFJ&size=150x150','QRCode2')" aria-label="Use Android">
                <md-icon class="material-icons">download</md-icon>
            </md-button>-->

        </div>



    </div>

   <!-- <script>document.write('<script src="Home.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>-->
    <script src="Home.js" type="text/javascript"></script>
</body>

</html>
